/*                    @aronnoordam @brunozc
/.github/             @aronnoordam @brunozc
/stem/                @aronnoordam @brunozc
/tests/               @aronnoordam @brunozc
/run_stem/            @aronnoordam @brunozc
 
