numpy==2.0.2
scipy==1.13.1
plotly==5.24.1
gmsh_utils @ git+https://github.com/StemVibrations/gmsh_utils
random_fields @ git+https://github.com/StemVibrations/RandomFields
StemKratos @ git+https://github.com/StemVibrations/StemKratos
UVEC @ git+https://github.com/StemVibrations/vehicle_models
pytest==7.4.2
pytest-cov==6.0.0
tox==4.23.2
mypy==1.13.0
pre-commit==3.6.2
yapf==0.43.0
flake8==7.0.0
Sphinx==7.4.7
sphinx-rtd-theme==3.0.2
sphinxcontrib-bibtex==2.6.3
beautifulsoup4==4.12.3
matplotlib==3.9.3
